body {
    font-family: tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}

#menu_top {
    background: darkkhaki;
    height: 40px;
}

#banner {
    height: auto;
    width: 1000px;
}

#main #left {
    width: 700px;
    float: left;
    min-height: 400px;
}

#main #right {
    width: 300px;
    float: left;
    min-height: 400px;
}

#footer {
    background: crimson;
    width: 1000px;
    height: 60px;
    text-align: center;
    clear: left;
    color: cyan;
    line-height: 60px;
}

#menu_top ul {
    margin: 0px;
    padding: 0px;
}

#menu_top ul li {
    list-style: none;
    float: left;
}

#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid cornsilk;
}

#menu_top ul li a:hover {
    color: coral;
    background: darkturquoise;
}

#banner img {
    width: 1000px;
}

#main #left ul {
    margin: 0px;
    padding: 0px;
}

#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid cadetblue;
    float: left;
    margin-bottom: 20px;
}

#main #left ul li img {
    float: left;
    margin-right: 14px;
    margin-bottom: 20px;
}

#main #left ul li h2 {
    font-size: 16px;
    margin-top: 0px;
}

#main {
    margin-top: 10px;
}

#main #right .menu_right ul {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

#main #right .menu_right ul li {
    list-style: none;
    margin-left: 10px;
}

#main #right .menu_right ul li a {
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid silver;
}

#main #right .menu_right ul li a:hover {
    background: blue;
    color: chartreuse;
}

#main #right .menu_right h3 {
    background: chocolate url(../image/flag\ \(2\.png) no-repeat 3px;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: white;
}